services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: saas_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
